<section id="footer" class="mt-5">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Empresa</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href=""
              ><i class="fa fa-angle-double-right"></i>Industrias
              Qu&iacute;micas y Biol&oacute;gicas</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fa fa-angle-double-right"></i>Lago Xochimilco #133 Col.
              Anáhuac I sección C.P. 11320, Del. Miguel Hidalgo</a
            >
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contactanos</h5>
        <ul class="list-unstyled social quick-links">
          <li class="list-item">
            <a href=""><i class="icon ion-md-call"></i> (55) 6818-0938</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-md-mail"></i> empresa@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contactanos</h5>
        <ul class="list-unstyled social quick-links">
          <li class="list-item">
            <a href=""><i class="icon ion-logo-facebook"></i> Facebook</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-logo-twitter"></i> Twitter</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-logo-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
