mat-form-field {
  margin-right: 12px;
}

.headTableb {
  background: #097dc5;
}

.headTableg {
  background: #3fb81e;
}

.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-blue {
  background-color: #097dc5;
  color: black;
}

.btn-green {
  background-color: #3fb81e;
  color: black;
}

.btn i {
  font-size: 14px;
  margin-left: 5px;
}

.img {
  height: 500px;
}
