body {
  font-family: Georgia, Times, serif;
}

h1 {
  font-size: 66px;
  font-weight: 600px;
  line-height: 80px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: navy;
}

h5 {
  color: navy;
}

p {
  font-size: 20px;
  line-height: normal;
}

section {
  padding: 120px 0;
}
