h1 {
  font-size: 66px;
  font-weight: 600px;
  line-height: 80px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h5 {
  color: navy;
}

p {
  font-size: 20px;
  line-height: normal;
}

section {
  padding: 120px 0;
}

.topmargin-xs {
  margin-top: 15px;
}

.topmargin-sm {
  margin-top: 30px;
}

.topmargin-lg {
  margin-top: 60px;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
    line-height: normal;
  }

  .logo-brand {
    min-width: 50px;
    max-width: 50px;
  }

  p {
    font-size: 11px;
    line-height: normal;
  }
}

@media (min-width: 300px) and (max-width: 812px) {
  p {
    font-size: 12px;
    line-height: normal;
  }

  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  p {
    font-size: 16px;
    line-height: normal;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  p {
    font-size: 17px;
    line-height: normal;
  }
}
