<section id="hero" class="mt-5">
  <div class="container">
    <div class="container-text">
      <h1>Bienvendido</h1>
      <br />
      <p>
        Somo la mejor solución para comprar equipo medico de primera calidad y
        al mejor precio
      </p>
      <a href="#" class="btn btn-green topmargin-sm"
        >Ver Catálogo<i class="icon ion-md-arrow-dropright-circle"></i
      ></a>
    </div>
  </div>
</section>

<section id="categoria">
  <div class="container-fluid">
    <div class="container-text">
      <h2>
        Empresas con las que trabajamos actualmente
      </h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/AMBIDERM.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Ambiderm
            </h4>
            <p class="card-text">
              Marca enfocada principalmene en la satisfaccion del cliente
            </p>

            <a routerLink="/list" class="btn btn-green topmargin-sm"
              >Cat&aacute;logo<i class="icon ion-md-arrow-dropright-circle"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/DENTILAB.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Dentilab
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur
            </p>

            <a href="#" class="btn btn-green topmargin-sm"
              >Cat&aacute;logo<i class="icon ion-md-arrow-dropright-circle"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/DEGASA.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Degasa
            </h4>
            <p class="card-text">
              Marca lider en venta de guantes
            </p>

            <a href="#" class="btn btn-green topmargin-sm"
              >Cat&aacute;logo<i class="icon ion-md-arrow-dropright-circle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Empresa</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href=""
              ><i class="fa fa-angle-double-right"></i>Industrias
              Qu&iacute;micas y Biol&oacute;gicas</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fa fa-angle-double-right"></i>Lago Xochimilco #133 Col.
              Anáhuac I sección C.P. 11320, Del. Miguel Hidalgo</a
            >
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contactanos</h5>
        <ul class="list-unstyled social quick-links">
          <li class="list-item">
            <a href=""><i class="icon ion-md-call"></i> (55) 6818-0938</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-md-mail"></i> empresa@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contactanos</h5>
        <ul class="list-unstyled social quick-links">
          <li class="list-item">
            <a href=""><i class="icon ion-logo-facebook"></i> Facebook</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-logo-twitter"></i> Twitter</a>
          </li>
          <li class="list-item">
            <a href=""><i class="icon ion-logo-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
