a:hover {
  text-decoration: none;
}

.icon-browser img {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../../../assets/img/logo.jpg) 20% round;
}

.d-block .w-100 {
  height: 200px;
}
/* Button Section */

.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-blue {
  background-color: #097dc5;
  color: black;
  border: 0 solid #007b5e;
}

.btn i {
  font-size: 14px;
  margin-left: 5px;
}

.contacto {
  min-width: 200px;
  min-height: 200px;
}

.container-text {
  color: black;
  margin: 0 auto 60px auto;
  text-align: center;
  max-width: 800px;
}

.categoria-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
  overflow: hidden;
}

.categoria-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.categoria-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.marcas-catalogo img {
  width: 300px;
  height: 350px;
}

.categoria-details {
  position: absolute;
  top: 15px;
  left: 380px;
  z-index: 9000;
}

.categoria-details a h2,
.categoria-details a p {
  color: #045008;
}

#hero {
  background-image: url("../../../assets/img/prueba.png");
  background-size: cover;
  padding-top: 100px;
  min-height: 600px;
  color: #ffffff;
}
