<section class="mt-5">
  <br />
  <br />
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="4000"
    color="accent"
    maxWidth="auto"
    proportion="32"
    slides="carouselImages.length"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of carouselImages"
      [image]="slide"
      image="../../../assets/img/IMAGEN CIENCIA-EDUCACION-SALUD.jpg"
      overlayColor="#00000040"
      [hideOverlay]="true"
    ></mat-carousel-slide>
  </mat-carousel>
</section>

<section id="categoria">
  <div class="container-fluid">
    <div class="container-text">
      <h2>
        <br />
        Empresas con las que trabajamos actualmente
      </h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/AMBIDERM.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Ambiderm
            </h4>
            <p class="card-text">
              Marca enfocada principalmene en la satisfaccion del cliente
            </p>

            <p style="text-align: center">
              <a routerLink="/list" class="btn btn-blue topmargin-sm"
                >Cat&aacute;logo<i
                  class="icon ion-md-arrow-dropright-circle"
                ></i
              ></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/DENTILAB.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Dentilab
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur
            </p>

            <p style="text-align: center">
              <a href="#" class="btn btn-blue topmargin-sm"
                >Cat&aacute;logo<i
                  class="icon ion-md-arrow-dropright-circle"
                ></i
              ></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card topmargin-sm">
          <div class="categoria-container">
            <img
              class="card-img-top"
              src="../../../assets/img/DEGASA.png"
              style="height: 400px;"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Degasa
            </h4>
            <p class="card-text">
              Marca lider en venta de guantes
            </p>

            <p style="text-align: center">
              <a href="#" class="btn btn-blue topmargin-sm"
                >Cat&aacute;logo<i
                  class="icon ion-md-arrow-dropright-circle"
                ></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<!-- Footer -->
