<br />
<br />
<br />
<br />
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form class="example-form">
          <mat-form-field>
            <input
              type="text"
              matInput
              class="form-control"
              name="filterProduct"
              [formControl]="myControl"
              placeholder="Buscar..."
              [(ngModel)]="filterProduct"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-md-4 offset-md-4">
        <button
          (click)="sendCar()"
          routerLink="/car"
          class="btn btn-blue btn-lg float-right"
          type="submit"
        >
          Carrito<i class="icon ion-md-cart"></i>
        </button>
      </div>
    </div>
    <br />
    <h2 style="text-align: center">AMBIDERM</h2>
    <div class="table-responsive-sm">
      <table class="table table-xs table-borderless table table-hover">
        <thead class="headTableb">
          <tr>
            <!--<th style="text-align: center;">C&oacute;digo</th>-->
            <th style="text-align: center"><h3>Producto</h3></th>
            <th style="text-align: center"><h3>Descripci&oacute;n</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let producto of productos
                | pfilter: filterProduct
                | paginate: page_size:page_number
            "
          >
            <!-- <td>
              <table>
                <thead>
                  <tr>
                    <th style="text-align: center">
                      <h5>{{ producto.nombreGuante }}</h5>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="{{ producto.urlImage }}" /><img /></td>
                  </tr>
                </tbody>
              </table>
            </td> -->
            <!--<td style="text-align: center;">
              <h4>
                {{ producto.codigoGuante }}
              </h4>
            </td>-->
            <td style="text-align: center">
              <h5>{{ producto.nombreProducto }}</h5>
              <br />
              <h6>C&oacute;digo producto: {{ producto.codigoProducto }}</h6>
              <br />
              <img
                src="{{ producto.urlImage }}"
                style="height: 300px;"
              /><img />
            </td>
            <td>
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align: center" colspan="2">
                      {{ producto.descripcionProducto }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Caracteristicas:</td>
                    <td>{{ producto.caracteristicasProducto }}</td>
                  </tr>
                  <tr>
                    <td>Contenido:</td>
                    <td>{{ producto.contenidoProducto }}</td>
                  </tr>
                  <tr>
                    <td style="text-align: center" colspan="2">
                      <button
                        (click)="addCar(producto)"
                        class="btn btn-green btn-lg"
                        type="submit"
                      >
                        Agregar
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-paginator
    [length]="productos.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePage($event)"
  >
  </mat-paginator>
</section>
